@import 'bootstrap.min';
@import 'font-awesome/font-awesome';

$clinica-gray: #5B5C60;
$clinica-gold: #BEB899;
$clinica-white: #fff;
$clinica-violet: #832E61;
$clinica-burgundy: #9D2C44;
$clinica-red: #CA4636;
$clinica-orange: #F58247;
$clinica-blue: #007B90;
$clinica-aqua: #14B0AA;
$clinica-green: #B2BA35;
$clinica-yellow: #FFDF69;
html, body {height:100%;min-height:100% !important;}
body {
	background:$clinica-white url(../images/clinica_bw_bg.png) no-repeat -250px -50px;
	color:$clinica-gray
}

/* HEADER LEVEL ELEMENTS */
.clinicaPage h1, 
.clinicaPage h2,
.clinicaPage h3,
.clinicaPage h4,
.clinicaPage h5 {
	text-transform:uppercase;
	font-family:'Quicksand',sans-serif;
	color:$clinica-gray;
	font-weight:normal;
}
	.clinicaPage h1 {
		color:$clinica-gold;
		margin-top:0;
	}
	@media (min-width:979px) { body.clinicaPage h1 small.visible-desktop {display:inline-block !important;}
	}
.clinicaPage h2 {
	color:$clinica-blue;
	font-size: 1.3em;
	line-height: 2.2em;
	font-weight: 700;
}

.clinicaPage h3 {
	color:$clinica-blue;
	font-size: 1.1em;
}

.clinicaPage h4 {
	color:#454545;
	font-size: 1em;
}
	
/* COMMON ELEMENTS */
body.clinicaPage a {cursor:pointer;}
body.clinicaPage .centerize {display:block;text-align:center;}
body.clinicaPage .serifFont {font-family: 'Quicksand', sans-serif;font-weight:400;}
body.clinicaPage div.message.alert ul {margin:0;}

.breadcrumb {
	background-color:transparent;
	padding:5px 2px;
	margin-bottom:5px;
	font-size: .9em;
	li {
		a {color: lighten($clinica-gray, 45%); }
		&.active{
			color: lighten($clinica-gray, 35%);
		}
	}
}

/* STICKY FOOTER, AND HOMEPAGE POSITIONING */
#minHeighter {
	position:relative;
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto -158px;
}
.imageOverlay{
	min-height:100%;
	height:auto !important;
	width: 100%;
	z-index: 1;
	position: absolute;
	background: rgba(0,0,0,.33);
}
.homeButton{
	padding: 10px 20px;
	color: $clinica-white;
	margin-top: 10px;
	font-size: 1.3em;
	display: inline-block;
	font-family: 'Quicksand', Helvetica, Arial, sans-serif; 
	&:hover{
		text-decoration: none;
		background-color: $clinica-blue;
	}
}
.blockRow{
	position: relative;
	z-index: 2;
	.span3:first-child {
		.homeBlock{
			background: $clinica-orange;	
		}
	}
	.span3:nth-child(2) {
		.homeBlock{
			background: $clinica-green;	
		}
	}
	.span3:nth-child(3) {
		.homeBlock{
			background: $clinica-blue url('../images/cnxn.png') no-repeat center 32px;	
			background-size: 43px 30px;
			padding-top:76px; 

		}
	}
	.span3:nth-child(4) {
		.homeBlock{
			background: $clinica-red;	
		}
	}
}
.homeRow{
	position: relative;
	z-index: 2;
}
.mainCall{
	text-align: center;
	//color: $clinica-white;
	margin: 0 0 50px;
	padding: 20px;
	background: rgba(0,0,0,.35);
	
	h2{
		color: lighten($clinica-aqua, 10%);
		font-size: 4.7em;
		margin: 0 0 10px 0;
		line-height: 1.5em;
		font-weight: normal;
	}
	p{
		//color: lighten($clinica-gray, 40%);
		font-size: 1.4em;
		line-height: 1.4em;
	}
}
body.home{
	a:hover{text-decoration: none}
	div.sub{background: rgba(0,0,0,.35);border:none;color: lighten($clinica-gray, 40%);}
	.goog-te-gadget-simple{background:lighten($clinica-gray, 40%); }
	#minHeighter {margin:0;padding-bottom: 20px;}
	ul#headerNavigation li a {color: lighten($clinica-gray, 80%);}
	
	a#clinicaLogo h1{
		color: lighten($clinica-gray, 80%);
	}
	p {
		font-family: 'Quicksand', Helvetica, Arial, sans-serif;
		color: lighten($clinica-gray, 80%)
	}
}

/* GLOBAL BLOCK OUTPUT STYLES */
.btContent img, .btContent img.thumbnail,
.btImage img, .btImage img.thumbnail, img.thumbnail {max-width:94%;margin:1em auto;display:block; padding:0;border:2px solid #888;}

.btContent img.dark, .btContent img.thumbnail.dark,
.btImage img.dark, .btImage img.thumbnail.dark, img.thumbnail.dark {border:1px solid #444;}
.btn-primary{
	color: $clinica-white;
  text-shadow:none;
  background-color: $clinica-blue;
  padding: 10px 20px;
}
/* RESPONSIVE HEADER BAR */
#flexHeader {margin:0;}
	#flexHeader div.main {
		position:relative;
		padding:40px 0;
		z-index:3;
	}
	a#clinicaLogo {
		padding:4px 10px 4px 0;
		display:block;
		float:left;
		background-color:transparent;
		&:hover{
			text-decoration: none;
		}
		.logo-box{
			background:transparent url('../images/nav-logo.png') no-repeat center center;
    	background-size: 100% 100%;
    	height: 70px;
    	width: 70px;
    	float: left;
		}
		h1{
			color:$clinica-gray;
			font-size: 1.8em;
			padding: 10px 0 10px 5px;
			display: block;
			float: left;
			line-height: 1em;
    	margin: 0;
    	letter-spacing: 5px;
    	height: 50px;
			span{
				display: block;
				font-size: .6em;
				text-transform: none;
				letter-spacing: 0;
			}
		}
	}
	.centered-span{
		float:none;
		margin: 0 auto;
		.flex{
			width: 20% !important;
		}
	}
	body.home {
		#flexHeader {
	 		background-color:rgba(255,255,255, .8);
			margin-bottom: 20px;
	 	}
	 	#tagLiner {display:block;left:0;bottom:0;right:0;font-size:1.8em;}
		#tagLiner .tagLinerContent {position:relative;padding:16px 0 9px;text-align:center;background:$clinica-gold;
			p{color:$clinica-white;}
		}
	}
	.patient-portal{
		height: 600px;
	}
	.homepage-panel{
		background: rgba(255,255,255, .7);
		padding: 20px;
		overflow: hidden;
		&.news{
			padding-top: 0;
			.news-title{
				background-color: $clinica-orange;
				padding: 10px;
				text-align: center;
				color: $clinica-white;
			}
		}
	}
	ul#headerNavigation {
	margin:28px 25px 0 0;
	font-family:'Quicksand',sans-serif;
}

ul#headerNavigation li {
	display:inline-block;
	float:left;
	margin-left:.9em;
}

ul#headerNavigation li:first-child {
	margin-left:0;
}

ul#headerNavigation li a {
	display:block;
	color:$clinica-gray;
	font-size:1.2em;
	line-height:1em;
}

ul#headerNavigation li a:hover {
	color:darken($clinica-gray,15%);
	background:none;
}

ul#headerNavigation li.nav-path-selected a {
	color:darken($clinica-gray,15%);
}
.nav-tabs.nav-stacked{
	> li > a{
		border-bottom: none;
	}
	> li:last-child > a{
		border-bottom: 1px solid #ddd;
	}

}
.subheader{
	margin-top: 0;
}
div.sub {
	color:#fff;
	padding:6px 25px;
	position:relative;
	z-index:2;
	background-color:$clinica-gold;
	border-bottom: 2px solid $clinica-gray;
}

div.sub a {
	color:#fff;
}

div.sub a.active {
	font-weight:700;
}

div.sub p {
	margin:0;
	padding:0;
}

	#responsiveTrigger {position:relative;top:23px;right:25px;color: $clinica-gray } /* WHEN THE MENU COLLAPSES; THIS IS THE "EXPAND" BUTTON */

/* CLINICA HOMEPAGE; BIG IMAGE OVERLAY SECTION */
#bgContainer {position:absolute;left:0;top:0;right:0;bottom:0;/*155px;*/}
.homeBlock {
	text-align: center;
	//background:rgba(255,255,255,.75);
	z-index:2;
	padding:20px;
	//color:#f1f1f1;
	font-size: 1em;
	line-height: 1em;
	i{font-size: 2.5em;}
	h3,p,i{color: $clinica-white; line-height: 1.6em;}
	h3{font-size: 1em;}
	.homeButton{
		background-color: $clinica-aqua;
	}
}
	#homeContent.custom-template {max-width:none;width:auto;float:none;}
#tagLiner{display: none;}

/* FORMS AND AJAX WAITING MESSAGE */
.well form {margin-bottom:0;padding-bottom:0;}
body.clinicaPage form.ajaxProcessing {background:transparent url('../images/loader.gif') no-repeat 50% 50%;}
body.clinicaPage form.ajaxProcessing .form-content,
body.clinicaPage form.ajaxSuccess .form-content {display:none;}
body.clinicaPage form.ajaxSuccess div.ajax-flash-target div.message.alert {margin:0;}
/*body.clinicaPage form.ajaxSuccess div.ajax-flash-target {display:block;}
body.clinicaPage form.ajaxSuccess div.ajax-flash-target * {display:inherit;}
body.clinicaPage form.ajaxSuccess div.ajax-flash-target div.message.alert {margin:0;}*/

/* PROVIDERS PAGE */
#providersList {margin-top:1em;}
	#providersList .span6 {margin-bottom:0;}
	#providersList.applyFilter .span6 {float:none;width:100%;margin-left:0;}
.provider {padding:5px;display:block;margin-bottom:.8em;color:inherit;position:relative;left:-5px;}
    .provider strong.plus {font-size:1.3em;}
.provider.profile {padding:0;}
	.provider:hover {text-decoration:none;color:inherit;background:#f5f5f5;}
	.provider.profile:hover {background:none;}
.provider .thumbnail {margin:0 12px 0 0;}
    .provider.profile .thumbnail {margin-right:20px;}
.provider .thumbnail.placeholder {height:85px;width:75px;background:#f1f1f1;text-align:center;font-size:11px;color:#c1c1c1;}
    .provider.profile .thumbnail.placeholder {width:94%;height:300px;}


/* FOOTER AREA */
div#pushFooter {height:290px;} /* NEEDED FOR IE8 STICKY FOOTER */
div#cFooter {
	height:250px;
	overflow:hidden;
	font-size:13px;
	color:#e1e1e1;
	position:relative;
	background-color:$clinica-gray;
}
div#cFooter div.content {padding-top:10px;}
div#cFooter div.content .footer-gray {
	margin:10px 0;
	color:$clinica-white;
	font-family:'Quicksand',sans-serif;
	font-size:1.4em;
	font-weight:700;
}
div#cFooter div.content ul li {padding-bottom:2px;}
div#cFooter div.content ul li a {color:#d5d5d5;display:block;}
div#cFooter div.legaleze {color:#969696;background:#2a2a2a;border-top:1px solid #444;font-size:11px;padding:10px 0;position:absolute;bottom:0;left:0;right:0;}
div#cFooter div.legaleze a {color:#969696;}

/* LANDING PAGES */
#cPrimary {
	margin-top:5px;
}
#cPrimary ul#sidebarNav{
	background-color: rgba(255,255,255,.75);
	li.nav-path-selected a {
		color:#fff;
		background:$clinica-orange;
	}
}
#cPrimary h2:first-child {margin-top:0;}

/* RESPONSIVE... STUFF */
@media (min-width:980px) {
    #flexHeader .nav-collapse.collapse {height:auto;display:block;float:right;}
    ul#headerNavigation {margin:28px 25px 0 0;font-size:inherit;text-align:left;}
    ul#headerNavigation li {float:inherit;margin-left:18px;}
}

/* VARIABLE WIDTH NAV */
@media (min-width:1200px) {
    ul#headerNavigation li {margin-left:3.9em;}
}

@media (min-width:980px) and (max-width:1199px){
    #clinicaLogo img {height:50px;}
    ul#headerNavigation {margin-top:20px;}
}

/* PORTRAIT TABLET TO LANDSCAPE AND NARROW DESKTOPS */
@media (min-width: 768px) and (max-width: 979px) {
	a#clinicaLogo {float:none;text-align:center;}
    a#clinicaLogo img {height:45px;}
    #flexHeader .nav-collapse.collapse {height:auto;display:block;float:none;margin-top:10px;}
	#flexHeader div.main{
		padding-top: 15px;
	}
    ul#headerNavigation {margin:0;font-size:.8em;text-align:center;}
    ul#headerNavigation li {float:none;margin-right: 1.1em;margin: 0;}
    ul#headerNavigation li a {padding:9px 10px;}
    ul#headerNavigation li a:hover {color:#ddd;}
}

/* LANDSCAPE PHONE & PORTRAIT TABLET */
@media (max-width: 767px) {
	.breadcrumb{display: none;}
	body {padding:0;}
	.main-content{padding: 0 10px 20px;}
	p{font-size: 1.3em; line-height: 1.5em}
    /* homepage specific */
    #homeContent {float:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
	#tagLiner {position:relative;font-size:1.3em;}
	#tagLiner .tagLinerContent {padding:10px 0 4px;}
	#minHeighter {margin:auto;min-height:initial;height:auto !important;}
	body.home #flexHeader{
		margin-bottom: 0;
		#responsiveTrigger {color:#fff;}
	}
	ul#headerNavigation li a{font-size: 1.75em;padding: 20px;}
	#homeContent {color:#111;background:rgba(220,220,220,.55);}
	#flexHeader {
		margin:0;
		div.main{
			padding: 20px 0; 
		}
	}

	#flexHeader div.main, #flexHeader div.sub, #responsiveTrigger {border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;float:none; text-align: center}
    	a#clinicaLogo {float: none;width: 220px;text-align:center;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;clear: both;overflow: hidden;margin: 0 auto;}
    	#clinicaLogo .logo-box
    	a#clinicaLogo img {height:45px;}
    	#responsiveTrigger {font-family:'Quicksand',sans-serif;float:none;top:0;font-size: 2.3em;margin-top: 17px;right: 9px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    	#flexHeader .nav-collapse.pull-right {float:none;}
    	ul#headerNavigation {margin:0;font-size:.8em;}
    ul#headerNavigation li { 
    margin: 0;   
    	width: 100%;
	    text-align: center;
	    font-size: 1.5em;
	    border-bottom: 1px solid #bbb;
	  }
	#pageTitle, #pageTitle h1 {padding:0;margin:0;line-height:1em;color:$clinica-blue}
	#pageTitle h1 {font-size:2em;padding:.875em 10px 0;}
	#cPrimary {margin:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
	div#pushFooter {display:none;}
	div#cFooter {position:relative;height:auto;padding:0 0 68px;}
	div#cFooter #tagLiner .tagLinerContent{padding: 10px;}
	div#cFooter div.legaleze {padding:10px 12px;}
	div#cFooter div.legaleze .pull-left, div#cFooter div.legaleze .pull-right {float:none;width:100%;text-align:center;}
	div#cFooter .span3 ul, div#cFooter .span3 p {display:none;}
	div#cFooter .span3 .footer-gray {cursor:pointer;font-size:16px;padding:4px 0;display:block;text-align:center;}
	.centered-span{
		float:none;
		margin: 0 auto;
		.flex{
			width: 100% !important;
		}
	}
	body.home #minHeighter{padding-bottom: 0;}
	.mainCall h2{
		font-size: 3em;
	}
}

@media (max-width:480px){
    #flexHeader ul#headerNavigation li {    
    	width: 100%;
	    text-align: center;
	    font-size: 1.5em;
	    border-bottom: 1px solid #bbb;
	  }
}

@media (max-width:320px){
    #flexHeader ul#headerNavigation li {width:100%;display:block;float:none;}
}
