table#clinicaSearchTable thead tr th {padding-left:6px;}
#clinicaWrap h3.lead {margin-bottom:0;}
#clinicaWrap h4 {margin-bottom:.6em;}
#clinicaWrap form {margin-bottom:0;}
#clinicaWrap table tr.no-stripe:hover td {background:#fff;}
#clinicaSearchTable thead tr th {white-space:nowrap;}

/* PERSONNEL TABLE */
#clinicaSearchTable.group-left thead tr th:last-child {width:50%;}
#clinicaSearchTable.group-left tbody tr td {padding-left:10px;}
#clinicaSearchTable.group-left tbody tr td:first-child {padding-left:6px;}
#clinicaSearchTable.group-left tbody tr td.name, 
#clinicaSearchTable.group-left tbody tr td.title,
#clinicaSearchTable.group-left tbody tr td.provider {white-space:nowrap;}
#clinicaSearchTable.group-left tbody tr td a.thumbnail {display:inline-block;}
#clinicaSearchTable.group-left tbody tr td a.thumbnail img {width:75px;}

.ccm-ui #clinicaWrap.addTrxn .container-fluid {padding:0;margin:0;}
.ccm-ui #clinicaWrap.addTrxn .controls {*zoom:1;}.ccm-ui #clinicaWrap .controls:before, .ccm-ui #clinicaWrap .controls:after{display:table;content:"";line-height:0;}
.ccm-ui #clinicaWrap.addTrxn .controls:after{clear:both;}
.ccm-ui #clinicaWrap.addTrxn .controls input,
.ccm-ui #clinicaWrap.addTrxn .controls select {float:left;margin-bottom:.6em;margin-right:4px;}
.ccm-ui #clinicaWrap.addTrxn .controls input:last-child {margin-right:0;}
.ccm-ui #clinicaWrap.addTrxn .controls input.span12 {width:100%;}
/* SPECIFIC CONFIGURATIONS */
.ccm-ui #clinicaWrap.addTrxn .controls #state {width:180px;float:left;}
.ccm-ui #clinicaWrap.addTrxn .controls #zip {width:80px;}
.ccm-ui #clinicaWrap.addTrxn .typeOptions {display:none;}
