/* SITEWIDES */
html, body {height:100%;min-height:100% !important;}
body {background:url('../images/textures/warm_paper.jpg');}
/* HEADER LEVEL ELEMENTS */
body.clinicaPage h1, 
body.clinicaPage h2,
body.clinicaPage h3,
body.clinicaPage h4,
body.clinicaPage h5 {font-family: 'Enriqueta', serif;color:#b95b03;font-weight:700;text-shadow:0 1px rgba(255,255,255,.7);}
	body.clinicaPage h1 {color:#005073;margin-left:25px;margin-top:0;}
		@media (min-width:979px) { body.clinicaPage h1 small.visible-desktop {display:inline-block !important;} }
	body.clinicaPage h2 {color:#b95b03;}
	body.clinicaPage h3 {color:#005073;}
	body.clinicaPage h4 {color:#454545;}
/* RANDOM STUFF */
body.clinicaPage a {cursor:pointer;}
body.clinicaPage .centerize {display:block;text-align:center;}
body.clinicaPage .serifFont {font-family: 'Enriqueta', serif;font-weight:400;}
body.clinicaPage div.message.alert ul {margin:0;}
/* FOR STICKY FOOTER, AND HOMEPAGE POSITIONING */
#minHeighter {position:relative;min-height:100%;height:auto !important;height:100%;margin:0 auto -158px;}
	body.home #minHeighter {margin:0;}

a#onlineBillPay {display:block;width:100px;height:100px;z-index:22;position:fixed;top:0;right:0;background:transparent url('../images/bill_pay_banner.png');}

/* RESPONSIVE HEADER BAR */
#flexHeader {margin:30px 0;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;}
	#flexHeader div.main {position:relative;z-index:3;background:url('../images/textures/bedge_grunge.png');border:1px solid #adaaa1;border-bottom:0; -webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px; -moz-box-shadow:0 0 4px rgba(0,0,0,.25);-webkit-box-shadow:0 0 4px rgba(0,0,0,.25);box-shadow:0 0 4px rgba(0,0,0,.25);}
	body.home #flexHeader div.main {border:0;}
		ul#headerNavigation {margin:28px 25px 0 0;font-family: 'Enriqueta', serif;font-weight:400;}
		ul#headerNavigation li {display:inline-block;float:left;margin-left:.9em;}
		ul#headerNavigation li:first-child {margin-left:0;}
		ul#headerNavigation li a {display:block;color:#444;font-size:1.4em;line-height:1em;text-shadow:0 1px rgba(255,255,255,.7);}
		ul#headerNavigation li a:hover {color:#005073;background:none;}
		ul#headerNavigation li.nav-path-selected a {color:#b95b03;}
	#flexHeader div.sub {color:#fff;padding:13px 25px 6px;position:relative;margin-top:-7px;z-index:2;background:rgba(185,91,3,.5);-webkit-border-radius:0 0 7px 7px;-moz-border-radius:0 0 7px 7px;border-radius:0 0 7px 7px; -moz-box-shadow:0 0 3px rgba(11,11,11,.2);-webkit-box-shadow:0 0 3px rgba(11,11,11,.2);box-shadow:0 0 3px rgba(11,11,11,.2);}
		#flexHeader div.sub a {color:#fff;}
		#flexHeader div.sub a.active {font-weight:500;}
	#responsiveTrigger {position:relative;top:23px;right:25px;}
	/* variable width nav */
	@media (min-width:1200px) {
		ul#headerNavigation {font-weight:700;}
		ul#headerNavigation li {margin-left:3.9em;}
	}

/* CLINICA HOMEPAGE; BIG IMAGE OVERLAY SECTION */
#bgContainer {position:absolute;left:0;top:0;right:0;bottom:155px;}
#homeContent {float:right;max-width:32%;position:relative;background:rgba(0,0,0,.45);z-index:2;padding:12px;border-radius:6px; color:#f1f1f1;text-shadow:0 1px #111;}
#homeContent h3 {color:inherit;text-shadow:inherit;}
#tagLiner {padding:15px 0 5px;color:#fff;text-align:center;background:rgba(216,155,36, 0.57);text-shadow:0 1px #111;}

/* FOOTER AREA */
div#pushFooter {height:195px;} /* NEEDED FOR IE8 STICKY FOOTER */
div#cFooter {height:155px;overflow:hidden;font-size:13px;color:#e1e1e1;position:relative;border-top:3px solid #db9d25;background:url('../images/blue_wood.jpg');}
div#cFooter div.content {padding-top:10px;}
div#cFooter div.content h4 {color:#b5b5b5;text-shadow:0 1px rgba(0,0,0,.8);}
div#cFooter div.content ul li {padding-bottom:2px;}
div#cFooter div.content ul li a {color:#d5d5d5;display:block;}
div#cFooter div.legaleze {color:#969696;background:#2a2a2a;border-top:1px solid #444;font-size:11px;padding:10px 0;position:absolute;bottom:0;left:0;right:0;}
div#cFooter div.legaleze a {color:#969696;}

@media (max-width:767px){
	div#cFooter {height:auto;background:none;}
	div#cFooter div.content {display:none;}
	div#cFooter div.legaleze {position:relative;}
}

/* LANDING PAGES */
#cPrimary {margin-top:5px;background:#fff;padding:20px;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;-moz-box-shadow:0 0 5px rgba(11,11,11,.4);-webkit-box-shadow:0 0 5px rgba(11,11,11,.4);box-shadow:0 0 5px rgba(11,11,11,.4);}
#cPrimary ul#sidebarNav li.nav-path-selected a {color:#fff;background:#b95b03;}
#cPrimary h2:first-child {margin-top:0;}


