html, body {height:100% !important;min-height:100% !important;/*overflow:hidden;*/}

body.default, body.clinicaPage {background:url('../images/textures/natural_paper.png');}

body.clinicaPage h1, h2, h3, h4, h5 {font-family: 'Enriqueta', serif;color:#71471e;font-weight:700;text-shadow:0 1px rgba(255,255,255,.7);}
body.clinicaPage h1 {color:#005073;margin-left:25px;margin-top:0;}
body.clinicaPage h3 {color:#005073;}

/* GLOBALLY REUSED */
body.clinicaPage a {cursor:pointer;}
body.clinicaPage span.centerize {display:block;text-align:center;}
body.clinicaPage .serifFont {font-family: 'Enriqueta', serif;font-weight:400;}

#minHeighter {min-height:100% !important;}

/* RESPONSIVE HEADER BAR */
#flexHeader {margin:30px 0;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;-moz-box-shadow:0 0 5px rgba(11,11,11,.4);-webkit-box-shadow:0 0 5px rgba(11,11,11,.4);box-shadow:0 0 5px rgba(11,11,11,.4);}
	#flexHeader div.main {position:relative;z-index:3;background:url('../images/textures/bedge_grunge.png');-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px; -moz-box-shadow:0 3px 3px rgba(11,11,11,.2);-webkit-box-shadow:0 3px 3px rgba(11,11,11,.2);box-shadow:0 3px 3px rgba(11,11,11,.2);}
		ul#headerNavigation {margin:27px 25px 0 0;font-family: 'Enriqueta', serif;font-weight:400;}
		ul#headerNavigation li {display:inline-block;float:left;margin-left:.9em;}
		ul#headerNavigation li:first-child {margin-left:0;}
		ul#headerNavigation li a {display:block;color:#444;font-size:1.4em;line-height:1em;text-shadow:0 1px rgba(255,255,255,.7);}
		ul#headerNavigation li a:hover {color:#005073;background:none;}
		ul#headerNavigation li.nav-path-selected a {color:#b95b03;}
	#flexHeader div.sub {color:#fff;padding:13px 25px 6px;position:relative;margin-top:-7px;z-index:2;background:rgba(185,91,3,.5);-webkit-border-radius:0 0 7px 7px;-moz-border-radius:0 0 7px 7px;border-radius:0 0 7px 7px;}
		#flexHeader div.sub a {color:#fff;}
		#flexHeader div.sub a.active {font-weight:500;}
	#responsiveTrigger {position:relative;top:23px;right:25px;}


/* variable width nav */
@media (min-width:1200px) {
	ul#headerNavigation {font-weight:700;}
	ul#headerNavigation li {margin-left:3.9em;}
}

/* CLINICA HOMEPAGE; BIG IMAGE OVERLAY SECTION */
#clinicaWelcome {}
#clinicaWelcome .span4 {color:#fff;text-align:center;}
#clinicaWelcome .span4 a {color:inherit;}
#clinicaWelcome .span4 a:hover {text-decoration:none;}
#clinicaWelcome .span4 h2 {text-align:center;color:#fff;font-weight:100;text-shadow:0 1px #111;}
#clinicaWelcome .span4 img {margin:0 auto;position:relative;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-moz-box-shadow:0 0 13px rgba(0,0,0,.6);-webkit-box-shadow:0 0 13px rgba(0,0,0,.6);box-shadow:0 0 13px rgba(0,0,0,.6);}

div#homeBody {color:#514131;}

/* ABSTRACT "paintbrush" AREAS */
div.abstract {padding:70px;margin:0 auto;font-family: 'Enriqueta', serif;font-size:1.6em;text-align:center;line-height:1.4em;text-shadow:0 1px rgba(255,255,255,.7);background-size:90% 90%;background-position:50% 50%;background-repeat: no-repeat;}
	div.abstract p {margin:0 90px;}
	div.abstract.heavy {font-weight:700;}
	div.abstract.orange {color:#71471e;background-image: url('../images/abstracts/orange.png');}
	div.abstract.blue {color:#005073;background-image: url('../images/abstracts/blue_tagline.png');}
	div.abstract.light-blue {color:#005073;background-image: url('../images/abstracts/light_blue.png');}

div.section {border-top:1px solid #aca085;background:url('../images/textures/bedge_grunge.png');}
	div.section.fabric {background:url('../images/textures/fabric_of_squares_gray.png');}
	div.section.subtle-grunge {background:url('../images/textures/subtle_grunge.png');}
	div.section.grid {background:url('../images/textures/grid.png');}
	div.section.straws {background:url('../images/textures/straws.png');}
	div.section.cardboard {background:url('../images/textures/cardboard_flat.png');}
	div.section.paper {background:url('../images/textures/natural_paper.png');}
div.section div.inner {padding:40px 0;background:transparent url('../images/upper_shadow.png') no-repeat 50% -11px;}

#scrollTopTrigger {display:none;color:#fff;text-align:center;position:fixed;top:0;right:0;left:0;padding:8px;background:rgba(0,77,111,.5);z-index:98;-moz-box-shadow:0 0 5px rgba(11,11,11,.4);-webkit-box-shadow:0 0 5px rgba(11,11,11,.4);box-shadow:0 0 5px rgba(11,11,11,.4);}
#scrollTopTrigger i {position:relative;top:2px;left:3px;}
#scrollTopTrigger:hover {text-decoration:none;background:rgba(185,91,3,.35);}

/* LANDING PAGES */
#cPrimary {margin-top:5px;margin-bottom:30px;background:#fff;padding:20px;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;-moz-box-shadow:0 0 5px rgba(11,11,11,.4);-webkit-box-shadow:0 0 5px rgba(11,11,11,.4);box-shadow:0 0 5px rgba(11,11,11,.4);}
#cPrimary ul#sidebarNav li.nav-path-selected a {color:#fff;background:#b95b03;}
#cPrimary h2:first-child {margin-top:0;}


