html, body {height:100%;min-height:100% !important;}
body {background:url('../images/textures/warm_paper.jpg');}

/* HEADER LEVEL ELEMENTS */
body.clinicaPage h1, 
body.clinicaPage h2,
body.clinicaPage h3,
body.clinicaPage h4,
body.clinicaPage h5 {font-family: 'Enriqueta', serif;color:#b95b03;font-weight:700;text-shadow:0 1px rgba(255,255,255,.7);}
	body.clinicaPage h1 {color:#005073;margin-left:25px;margin-top:0;}
		@media (min-width:979px) { body.clinicaPage h1 small.visible-desktop {display:inline-block !important;} }
	body.clinicaPage h2 {color:#b95b03;}
	body.clinicaPage h3 {color:#005073;}
	body.clinicaPage h4 {color:#454545;}
	
/* COMMON ELEMENTS */
body.clinicaPage a {cursor:pointer;}
body.clinicaPage .centerize {display:block;text-align:center;}
body.clinicaPage .serifFont {font-family: 'Enriqueta', serif;font-weight:400;}
body.clinicaPage div.message.alert ul {margin:0;}

/* STICKY FOOTER, AND HOMEPAGE POSITIONING */
#minHeighter {position:relative;min-height:100%;height:auto !important;height:100%;margin:0 auto -158px;}
	body.home #minHeighter {margin:0;}

/* GLOBAL BLOCK OUTPUT STYLES */
.btContent img, .btContent img.thumbnail,
.btImage img, .btImage img.thumbnail, img.thumbnail {max-width:94%;margin:1em auto;display:block; padding:0;border:2px solid #888;box-shadow:0 3px 9px rgba(0,0,0,.4);}

/* RESPONSIVE HEADER BAR */
#flexHeader {margin:30px 0;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;}
	#flexHeader div.main {position:relative;z-index:3;background:url('../images/textures/bedge_grunge.png');border:1px solid #adaaa1;border-bottom:0; -webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px; -moz-box-shadow:0 0 4px rgba(0,0,0,.25);-webkit-box-shadow:0 0 4px rgba(0,0,0,.25);box-shadow:0 0 4px rgba(0,0,0,.25);}
	a#clinicaLogo {padding:4px 10px 4px 14px;display:block;float:left;background:transparent url('../images/logo_gradient.png') repeat-x;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px; -moz-box-shadow:1px 0 1px rgba(11,11,11,.3);-webkit-box-shadow:1px 0 1px rgba(11,11,11,.3);box-shadow:1px 0 1px rgba(11,11,11,.3);}
	
	body.home #flexHeader div.main {border:0;}
		ul#headerNavigation {margin:28px 25px 0 0;font-family: 'Enriqueta', serif;font-weight:400;}
		ul#headerNavigation li {display:inline-block;float:left;margin-left:.9em;}
		ul#headerNavigation li:first-child {margin-left:0;}
		ul#headerNavigation li a {display:block;color:#444;font-size:1.4em;line-height:1em;text-shadow:0 1px rgba(255,255,255,.7);}
		ul#headerNavigation li a:hover {color:#005073;background:none;}
		ul#headerNavigation li.nav-path-selected a {color:#b95b03;}
	#flexHeader div.sub {color:#fff;padding:13px 25px 6px;position:relative;margin-top:-7px;z-index:2;background:rgba(185,91,3,.5);-webkit-border-radius:0 0 7px 7px;-moz-border-radius:0 0 7px 7px;border-radius:0 0 7px 7px; -moz-box-shadow:0 0 3px rgba(11,11,11,.2);-webkit-box-shadow:0 0 3px rgba(11,11,11,.2);box-shadow:0 0 3px rgba(11,11,11,.2);}
		#flexHeader div.sub a {color:#fff;}
		#flexHeader div.sub a.active {font-weight:500;}
		#flexHeader div.sub p {margin:0;padding:0;}
	#responsiveTrigger {position:relative;top:23px;right:25px;} /* WHEN THE MENU COLLAPSES; THIS IS THE "EXPAND" BUTTON */

/* CLINICA HOMEPAGE; BIG IMAGE OVERLAY SECTION */
#bgContainer {position:absolute;left:0;top:0;right:0;bottom:0;/*155px;*/}
#homeContent {float:right;position:relative;background:rgba(0,0,0,.65);z-index:2;padding:12px;border-radius:6px; color:#f1f1f1;text-shadow:0 1px #111;}
	#homeContent.custom-template {max-width:none;width:auto;float:none;}
#homeContent h3 {color:inherit;text-shadow:inherit;}
#tagLiner {position:absolute;left:0;bottom:0;right:0;font-size:1.8em;}
#tagLiner .tagLinerContent {position:relative;padding:16px 0 9px;color:#fff;text-align:center;background:rgba(216,155,36, 0.75);color:#222;text-shadow:0 1px rgba(255,255,255,.55);}

/* FORMS AND AJAX WAITING MESSAGE */
.well form {margin-bottom:0;padding-bottom:0;}
body.clinicaPage form.ajaxProcessing {background:transparent url('../images/loader.gif') no-repeat 50% 50%;}
body.clinicaPage form.ajaxProcessing * {display:none;}
body.clinicaPage form.ajaxSuccess * {display:none;}
body.clinicaPage form.ajaxSuccess div.ajax-flash-target {display:block;}
body.clinicaPage form.ajaxSuccess div.ajax-flash-target * {display:inherit;}
body.clinicaPage form.ajaxSuccess div.ajax-flash-target div.message.alert {margin:0;}

/* PROVIDERS PAGE */
#providersList {margin-top:1em;}
	#providersList .span6 {margin-bottom:0;}
	#providersList.applyFilter .span6 {float:none;width:100%;margin-left:0;}
.provider {padding:5px;display:block;margin-bottom:.8em;color:inherit;position:relative;left:-5px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
    .provider strong.plus {font-size:1.3em;}
.provider.profile {padding:0;}
	.provider:hover {text-decoration:none;color:inherit;background:#f5f5f5;}
	.provider.profile:hover {background:none;}
.provider .thumbnail {margin:0 12px 0 0;}
    .provider.profile .thumbnail {margin-right:20px;}
.provider .thumbnail.placeholder {height:85px;width:75px;background:#f1f1f1;text-align:center;font-size:11px;color:#c1c1c1;}
    .provider.profile .thumbnail.placeholder {width:94%;height:300px;}

/* SUPPORTER LOGOS */
span.boxedImage {
	padding:8px;
	display:inline-block;
	border:1px solid #d5d5d5;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	-moz-box-shadow:0 0 5px rgba(11,11,11,.4);
	-webkit-box-shadow:0 0 5px rgba(11,11,11,.4);
	box-shadow:0 0 5px rgba(11,11,11,.4);
	background-color:@start;
	background-image:-moz-linear-gradient(top, @start, @finish);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(@start), to(@finish));
	background-image:-webkit-linear-gradient(top, #f6f6f6, #e5e5e5);
	background-image:-o-linear-gradient(top, @start, @finish);
	background-image:linear-gradient(to bottom, #f6f6f6, #e5e5e5);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@start', endColorstr='@finish', GradientType=0);
}

/* FOOTER AREA */
div#pushFooter {height:195px;} /* NEEDED FOR IE8 STICKY FOOTER */
div#cFooter {height:155px;overflow:hidden;font-size:13px;color:#e1e1e1;position:relative;border-top:3px solid #db9d25;background:url('../images/blue_wood.jpg');}
body.home div#cFooter {top:-3px;}
div#cFooter div.content {padding-top:10px;}
div#cFooter div.content .footer-gray {margin:10px 0;color:#b5b5b5;font-family: 'Enriqueta', serif;font-size:1.4em;font-weight:700;text-shadow:0 1px rgba(0,0,0,.8);}
div#cFooter div.content ul li {padding-bottom:2px;}
div#cFooter div.content ul li a {color:#d5d5d5;display:block;}
div#cFooter div.legaleze {color:#969696;background:#2a2a2a;border-top:1px solid #444;font-size:11px;padding:10px 0;position:absolute;bottom:0;left:0;right:0;}
div#cFooter div.legaleze a {color:#969696;}

/* LANDING PAGES */
#cPrimary {margin-top:5px;background:#fff;padding:20px;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;-moz-box-shadow:0 0 5px rgba(11,11,11,.4);-webkit-box-shadow:0 0 5px rgba(11,11,11,.4);box-shadow:0 0 5px rgba(11,11,11,.4);}
#cPrimary ul#sidebarNav li.nav-path-selected a {color:#fff;background:#b95b03;}
#cPrimary h2:first-child {margin-top:0;}

/* RESPONSIVE... STUFF */
@media (min-width:980px) {
    #flexHeader .nav-collapse.collapse {height:auto;display:block;float:right;}
    ul#headerNavigation {margin:28px 25px 0 0;font-size:inherit;text-align:left;}
    ul#headerNavigation li {float:inherit;margin-left:18px;}
}

/* VARIABLE WIDTH NAV */
@media (min-width:1200px) {
    ul#headerNavigation {font-weight:700;}
    ul#headerNavigation li {margin-left:3.9em;}
}

@media (min-width:980px) and (max-width:1199px){
    #clinicaLogo img {height:50px;}
    ul#headerNavigation {margin-top:20px;}
}

/* PORTRAIT TABLET TO LANDSCAPE AND NARROW DESKTOPS */
@media (min-width: 768px) and (max-width: 979px) {
	a#clinicaLogo {float:none;text-align:center; -moz-box-shadow:0 0 4px rgba(0,0,0,.25);-webkit-box-shadow:0 0 4px rgba(0,0,0,.25);box-shadow:0 0 4px rgba(0,0,0,.25);}
    a#clinicaLogo img {height:45px;}
    #flexHeader .nav-collapse.collapse {height:auto;display:block;float:none;}
    #flexHeader div.main {background:#005073;}
    ul#headerNavigation {margin:0;font-size:.8em;text-align:center;}
    ul#headerNavigation li {float:none;}
    ul#headerNavigation li a {color:#fff;padding:9px 10px;text-shadow:0 1px rgba(0,0,0,.7);}
    ul#headerNavigation li a:hover {color:#ddd;}
}

/* LANDSCAPE PHONE & PORTRAIT TABLET */
@media (max-width: 767px) {
	body {padding:0;}
    /* homepage specific */
    #homeContent {float:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
	#tagLiner {position:relative;font-size:1.3em;}
	#tagLiner .tagLinerContent {padding:10px 0 4px;}
	#minHeighter {margin:auto;min-height:initial;height:auto !important;}
	#homeContent {color:#111;background:rgba(220,220,220,.55);text-shadow:none;}
	#flexHeader {margin:0;}
	#flexHeader div.main, #flexHeader div.sub, #responsiveTrigger {border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
    	a#clinicaLogo {float:none;text-align:center;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
    	a#clinicaLogo img {height:45px;}
    	#responsiveTrigger {float:none;top:0;right:0; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    	#flexHeader .nav-collapse.pull-right {float:none;}
    	ul#headerNavigation {margin:0;font-size:.8em;}
    	ul#headerNavigation li {float:left;width:33.33%;margin:0;}
	#pageTitle, #pageTitle h1 {background:#fff;padding:0;margin:0;line-height:1em;}
	#pageTitle h1 {font-size:2em;padding:.875em 20px 0;}
	#cPrimary {margin:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
	div#pushFooter {display:none;}
	div#cFooter {position:relative;height:auto;padding:0 12px 68px;}
	div#cFooter div.legaleze {padding:10px 12px;}
	div#cFooter div.legaleze .pull-left, div#cFooter div.legaleze .pull-right {float:none;width:100%;text-align:center;}
	div#cFooter .span3 ul, div#cFooter .span3 p {display:none;}
	div#cFooter .span3 .footer-gray {cursor:pointer;font-size:16px;padding:4px 0;display:block;text-align:center;background:rgba(255,255,255,.3); -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
}

@media (max-width:480px){
    #flexHeader ul#headerNavigation li {width:50%;}
}

@media (max-width:320px){
    #flexHeader ul#headerNavigation li {width:100%;display:block;float:none;}
}
